# 忽略src文件夹中的所有内容
/src/

# 忽略log文件夹中的所有内容
/log/

# 忽略miuix-main文件夹中的所有内容，避免与miuix-main项目冲突
/miuix-main/
/KernelSUjs/

# 忽略编译生成的文件
/target/
/build/

# 忽略日志文件
*.log

# 忽略临时文件
*.tmp
*.temp
*.swp
*~

# 忽略IDE和编辑器相关文件
.idea/
.vscode/
*.iml
.DS_Store
